{% extends 'bandas/layout.html' %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="banda-details">
        <h2>{{ banda.nome }}</h2>
        <p>Nacionalidade: {{ banda.nacionalidade }}</p>
        <p>Ano de Criação: {{ banda.ano_criacao }}</p>
        {% if banda.foto %}
            <p><img src="{{ banda.foto.url }}" alt="Foto da banda"></p>
        {% else %}
            <p>Foto da banda não disponível</p>
        {% endif %}
        <p>{{ banda.bio }}</p>
        <h3>Álbuns:</h3>
        <ul>
            {% for album in banda.albuns_set.all %}
                <li>
                    <a href="{% url 'bandas:album' album.id %}">{{ album.titulo }}</a>
                    <span class="edit-delete">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'bandas:album_update' album.id %}">Editar</a>
                            <a href="{% url 'bandas:album_delete' album.id %}">Apagar</a>
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'bandas:bandas_list' %}">Voltar para Bandas</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'bandas:album_create' %}?banda_id={{ banda.id }}"><button>Inserir novo Álbum</button></a>
        {% endif %}
    </div>
    <style>
        .banda-details {
            background-color: rgba(0, 0, 0, 0.8);
            padding: 20px;
            border-radius: 10px;
            margin: 20px auto;
            max-width: 600px;
        }
        .banda-details img {
            max-width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .banda-details ul {
            list-style-type: none;
            padding: 0;
        }
        .banda-details li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .banda-details .edit-delete {
            margin-left: auto;
        }
        .banda-details a {
            color: white;
            text-decoration: none;
            margin-right: 10px;
            transition: color 0.3s ease;
        }
        .banda-details a:hover {
            color: #1DB954;
        }
        .banda-details button {
            background-color: #1DB954;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .banda-details button:hover {
            background-color: #1ed760;
        }
    </style>
{% endblock %}
