{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacao/css/styles.css' %}">
</head>
<div class="registration-form">
    <h3>Registo</h3>
    <form action="{% url 'autenticacao:registo' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password1" placeholder="Palavra-chave">
        <input type="password" name="password2" placeholder="Confirmar Palavra-chave">
        <input type="submit" value="Registar">
    </form>
</div>
