<!DOCTYPE HTML>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OS meus Interesses</title>
    <style>
        body {
            background : red;
            color: white;
        }
    </style>
</head>
<body>

    <header>
        <h1>OS meus Interesses</h1>
        <nav>
            <a href="{% url 'pwsite:index_sobre' %}">Introducao</a>
        </nav>
    </header>

    <main>
        <h2>Programação Web:</h2>
        <p>A cadeira de programação web é bastante acessível e dá-nos uma boa preparação para o mundo informático.</p>
        <p>Estou a gostar desta cadeira pois, finalmente posso meter em prática os meus estudos de informáticva.</p>
    </main>

    <footer>
        <p>Realizado por Fábio Tomé</p>
</body>
</html>