<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informática de Gestão</title>
    <style>
        body {
            background: orange;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>2º Semestre 2023/2024:</h1>
    </header>

    <main>
        <h2>Cadeiras:</h2>
        <ul>
            <li>
            <strong>Engenharia de Requisitos e Testes</strong>
            </li>
            <li>
            <strong>Gestão Financeira</strong>
            </li>
            <li>
            <strong>Programação Web</strong>
            </li>
            <li>
            <strong>Redes de Computadores</strong>
            </li>
            <li>
            <strong>Sistemas de Suporte á Decisão</strong>
            </li>
        </ul>
    </main>

    <footer>
        <p>&copy;Programação Web, Universidade Lusófona</p>
        <p>Criado por Fábio Tomé.</p>
    </footer>

</body>
</html>